<!doctype html>
<html ng-app="nbaStatsApp">
	<head>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/index.js"></script>

		<link rel="stylesheet" href="css/index.css">
		<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>

	<body>
		<div ng-controller="appController as appCtrls">
			<div class="m-1">
				<input type="text" ng-model="appCtrls.date" size="30" placeholder="Enter a date (YYYYMMDD)">
				<button type="button" class="btn btn-primary" ng-click="appCtrls.getScores()">Get Scores</button>
			</div>

			<div ng-repeat="score in appCtrls.scoreBoard">
				<div class="card w-50 m-1">
				  <div class="card-block">
				    <h4 class="card-title">{{score.team1.name}} vs {{score.team2.name}}</h4>
				    <h6 class="card-subtitle mb-2 text-muted">GameID:</strong> {{score.game_id}}</h6>
				    <p class="card-text">{{score.team1.points}} - {{score.team2.points}} - {{score.status}}</p>
				    <a href="#" class="card-link">Box Score</a>
				    <a href="#" class="card-link">Live Stream</a>
				  </div>
				</div>
			</div>
		</div>
	</body>
</html>
